@use 'sass:color';
@use '@material/theme/color-palette';

// Svelte Colors! (Dark Theme)
@use '@material/theme/index' as theme with (
  $primary: #2164b6,
  $secondary: color.scale(#676778, $whiteness: -10%),
  $surface: color.adjust(color-palette.$grey-900, $blue: +4),
  $background: #121212,
  $error: color-palette.$red-900
);
@use '@material/theme/styles';

html,
body {
  background-color: #000;
  color: theme.$on-surface;
}

a {
  color: #ff4091;
}
a:visited {
  color: color.scale(#ff4091, $lightness: -35%);
}
